<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'commonview.html' %}
</head>
{% block content %}
<h4>This is user registration page. Please enter the details below:</h4>
<p style="color:green; font-weight:bold;">{{msg}}</p>
<form action="/registeruser/" method="post">
    {% csrf_token %} username:
    <input type="text" id="username" class="form-control" name="username">
    <br> password:
    <input type="password" id="password" class="form-control" name="password">
    <br> confirm_password:
    <input type="password" id="confirmpassword" class="form-control" name="confirmpassword">
    <br> email_address:
    <input type="text" id="email" class="form-control" name="email">
    <br> phonenumber
    <input type="text" id="mobile" class="form-control" name="mobile">
    <br>
    <button class="btn btn-primary">Register user</button>
</form>
{% endblock %}

</html>