<!DOCTYPE html>
<html lang="en">

<head>
    {% extends 'commonview.html' %}
</head>

<body>
    {% block content %}
    <h3>This is user data view page.</h3>
    <p style="color:green; font-weight:bold;">{{msg}}</p>
    username:
    <br>
    <select id="userlist" onclick="display_user_details()" size="5" style=" width: 250px;" selected>
    </select>
    <br> email_address:
    <input type="text" id="email" class="form-control" name="email">
    <br> phonenumber
    <input type="text" id="mobile" class="form-control" name="mobile">
    <br>
    <script>
        console.log("hello")
        var data = {{userdata | safe}}
        var username = []
        console.log(data)
        var selectdata = document.getElementById("userlist");
        if (data.length != 0) {
            for (i = 0; i < data.length; i++) {
                console.log(data[i])
                username.push(data[i]['uname'])
                var option = document.createElement("option");
                option.text = data[i]['uname'];
                selectdata.add(option);
            }
            $('#userlist option')[0].selected = true;
            var user = document.getElementById("userlist").value;
            for (i = 0; i < data.length; i++) {
                if (user === data[i]['uname']) {

                    document.getElementById("email").value = data[i]['email']
                    document.getElementById("mobile").value = data[i]['mobile']
                }
            }
        } else {
            var option = document.createElement("option");
            option.text = "No user registered";
            selectdata.add(option);
            $('#userlist option')[0].selected = true;
        }
        console.log(username)

        function display_user_details() {
            var user = document.getElementById("userlist").value;
            for (i = 0; i < data.length; i++) {
                if (user === data[i]['uname']) {

                    document.getElementById("email").value = data[i]['email']
                    document.getElementById("mobile").value = data[i]['mobile']
                }
            }
        }
    </script>
    {% endblock %}
</body>

</html>